$red: #D30505;
$dark-red:#D30505;
$dark-red-botones:#9A1414;
$silver-light:#F2F2F2;
$silver: silver;
$purple:#852F81;
$silver-blue:#748696;
$soft-yellow:#F8EB65;
$soft-green:#CDF3A8;
$soft-red:#EFA3A3;
$soft-silver:#E2E7EA;
$silver-white:#F4F5F7;
$white:#ffffff;
$black:black;
$gray:gray;
$light-silver-blue:#E0E0E0;
$grey:#667885;
/* botones redes */
$light-blue: #4AB4D6;
$yellow-orange: #FFBF00;

