/* botones redes */
p, a {
  font-family: 'PT Sans', sans-serif; }

h1, h2 {
  font-family: 'Open Sans', sans-serif; }

h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; }

/*UTILCLASS*/
.w-100 {
  width: 100%; }

.border-silver {
  border: silver 1px solid; }

.bckg-white {
  background-color: white; }

.bckg-dots {
  background: url(../../assets/image/archive-sidebar-bg.jpg) repeat;
  padding: 5% 3%; }

.banner {
  background-color: #F2F2F2;
  padding: 1% 0 0.4%;
  border-bottom: 1px solid silver; }
  .banner .box-banner .banner-top img {
    width: 101%; }
  .banner .box-banner .list-header {
    padding: 1.2% 0 0; }
    .banner .box-banner .list-header .box-nav a {
      color: gray;
      text-decoration: none;
      font-size: 0.8em;
      margin-right: 1em;
      font-weight: 600; }
      .banner .box-banner .list-header .box-nav a:hover {
        color: black;
        text-decoration: none; }
    .banner .box-banner .list-header .suscribete {
      background: #D30505;
      padding: 1% 3%;
      border-radius: 5px;
      border: 1px solid #D30505;
      font-size: 0.8em;
      color: white;
      text-decoration: none;
      margin-left: 9px;
      transition: 0.5s; }
      .banner .box-banner .list-header .suscribete:hover {
        border: 1px solid #D30505;
        color: #D30505;
        background-color: transparent;
        margin-left: 9px; }
    .banner .box-banner .list-header .redes a:nth-child(2) {
      color: #4AB4D6; }
    .banner .box-banner .list-header .redes a:nth-child(3) {
      color: #D30505; }
    .banner .box-banner .list-header .redes a:nth-child(4) {
      color: #FFBF00; }
    .banner .box-banner .list-header .redes i {
      margin-right: 1.4em; }
      .banner .box-banner .list-header .redes i:nth-child(5) {
        margin: 0;
        color: orange; }
    .banner .box-banner .list-header .redes .encabezado h2 {
      font-size: 2.7em;
      font-weight: bold;
      color: black;
      margin-bottom: 3%; }
    .banner .box-banner .list-header .redes .encabezado p {
      font-family: 'Oswald', sans-serif;
      color: gray; }
      .banner .box-banner .list-header .redes .encabezado p span {
        margin-left: 0.7%; }
    .banner .box-banner .list-header .redes .single {
      width: 30%;
      height: 240px;
      padding: 3% 1%;
      margin: 1%;
      border: 2px solid #E0E0E0; }
      .banner .box-banner .list-header .redes .single .titulos {
        height: 45%;
        margin-bottom: 10%; }
        .banner .box-banner .list-header .redes .single .titulos p {
          font-size: 0.8em;
          color: black;
          text-align: center;
          margin-bottom: 5px; }
        .banner .box-banner .list-header .redes .single .titulos h3 {
          font-size: 1.2em;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          text-align: center;
          margin-top: 0px; }
    .banner .box-banner .list-header .redes .singlegrey {
      background: #E0E0E0;
      padding: 5% 4%; }
      .banner .box-banner .list-header .redes .singlegrey img {
        border: 2px solid #ffffff; }
      .banner .box-banner .list-header .redes .singlegrey .text-grey {
        display: inline-block;
        vertical-align: top;
        margin-left: 4%; }
        .banner .box-banner .list-header .redes .singlegrey .text-grey .nombre {
          font-family: 'Oswald', sans-serif;
          font-size: 0.8em;
          font-weight: bold;
          text-align: left;
          margin-bottom: 0px; }
        .banner .box-banner .list-header .redes .singlegrey .text-grey .comentario {
          text-align: left;
          font-size: 1.1em;
          font-weight: bold;
          color: #667885; }
    .banner .box-banner .list-header .search {
      text-align: center;
      border-right: 1px solid silver;
      border-left: 1px solid silver; }
      .banner .box-banner .list-header .search a {
        font-size: 0.9em;
        font-weight: 600;
        text-decoration: none; }
        .banner .box-banner .list-header .search a:hover {
          text-decoration: none;
          color: black; }

.header {
  padding: 2% 0; }
  .header .republica {
    margin: 5% 2%; }
  .header .a-domingo a {
    color: black; }
    .header .a-domingo a:hover {
      text-decoration: none; }
    .header .a-domingo a .box-domingo {
      border: 1px solid;
      padding: 2%;
      text-align: center;
      border-bottom: 3px solid #D30505; }
      .header .a-domingo a .box-domingo .text-domingo {
        font-size: 0.8em;
        font-weight: 600;
        background: #D30505;
        width: 80px;
        padding: 5px;
        position: absolute;
        top: -20%;
        left: 35%;
        color: white;
        font-family: 'Open Sans'; }
      .header .a-domingo a .box-domingo .autor {
        font-size: 0.9em;
        font-weight: 600;
        margin-top: 6%; }
  .header a:hover {
    text-decoration: none; }
  .header .editorial .box-editorial {
    border: 1px solid silver;
    background: #2C3238; }
    .header .editorial .box-editorial .img-editorial {
      float: left;
      margin: 1%; }
    .header .editorial .box-editorial .box-corrupcion {
      border: 1px solid silver;
      border-radius: 5px;
      margin-left: 20px;
      background: white;
      text-align: center;
      color: black; }
      .header .editorial .box-editorial .box-corrupcion p {
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 4px;
        text-decoration: none; }
        .header .editorial .box-editorial .box-corrupcion p:nth-child(2) {
          font-style: italic;
          font-weight: normal;
          margin: 0 0 10px;
          font-size: 0.9em; }
      .header .editorial .box-editorial .box-corrupcion .img-autor {
        float: right;
        margin-top: -20%;
        margin-right: -4%; }

.menu-magazine {
  padding: 0;
  margin-left: 1%; }
  .menu-magazine .nav-magazine {
    margin: 1% 0; }
    .menu-magazine .nav-magazine .pager {
      background-color: #D30505;
      text-align: left; }
    .menu-magazine .nav-magazine a {
      color: white;
      font-size: 0.9em;
      font-weight: 600;
      transition: 0.5s;
      border: none;
      border-right: 1px solid #A70303;
      margin-right: -4px;
      padding: 0.53%;
      border-radius: inherit;
      background-color: #D30505; }
      .menu-magazine .nav-magazine a:hover {
        color: black;
        text-decoration: none; }
      .menu-magazine .nav-magazine a .barra {
        border-color: #D30505; }

footer {
  background-color: silver; }
  footer h4 {
    font-family: 'PT Sans';
    font-weight: 600; }

.columnistas-body .img-aside {
  width: 100%; }
.columnistas-body .btn-red {
  color: white;
  background: #9A1414;
  margin-left: 37%;
  margin-top: 12%;
  padding: 0.3% 3%;
  border-radius: 5px; }
  .columnistas-body .btn-red:hover {
    text-decoration: none; }

.pagination {
  width: 100%; }
  .pagination ul {
    padding: 1% 2%; }

.pagination > li {
  display: inline-block;
  width: 10.5%; }

/*COLUMNISTAS*/
#columnistas
.resize {
  width: 3.55em; }

.redes a:nth-child(2) {
  color: #4AB4D6; }
.redes a:nth-child(3) {
  color: #D30505; }
.redes a:nth-child(4) {
  color: #FFBF00; }
.redes i {
  margin-right: 1.4em; }
  .redes i:nth-child(5) {
    margin: 0;
    color: orange; }
.redes .encabezado h2 {
  font-size: 2.7em;
  font-weight: bold;
  color: black;
  margin-bottom: 3%; }
.redes .encabezado p {
  font-family: 'Oswald', sans-serif;
  color: gray; }
  .redes .encabezado p span {
    margin-left: 0.7%; }
.redes .single {
  width: 30%;
  height: 240px;
  padding: 3% 1%;
  margin: 1%;
  border: 2px solid #E0E0E0; }
  .redes .single .titulos {
    height: 45%;
    margin-bottom: 10%; }
    .redes .single .titulos p {
      font-size: 0.8em;
      color: black;
      text-align: center;
      margin-bottom: 5px; }
    .redes .single .titulos h3 {
      font-size: 1.2em;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      margin-top: 0px; }
.redes .singlegrey {
  background: #E0E0E0;
  padding: 5% 4%; }
  .redes .singlegrey img {
    border: 2px solid #ffffff; }
  .redes .singlegrey .text-grey {
    display: inline-block;
    vertical-align: top;
    margin-left: 4%; }
    .redes .singlegrey .text-grey .nombre {
      font-family: 'Oswald', sans-serif;
      font-size: 0.8em;
      font-weight: bold;
      text-align: left;
      margin-bottom: 0px; }
    .redes .singlegrey .text-grey .comentario {
      text-align: left;
      font-size: 1.1em;
      font-weight: bold;
      color: #667885; }

/*# sourceMappingURL=global.css.map */
