footer {
	background-color: $silver-light;
	padding: 4% 0;
	.border-right {
		border-right: 1px solid white;
		padding: 15% 0 11%;
		.grupo-republica {
		margin: auto;
		}
	}
	h4 {
		font-family: 'PT Sans';
    	font-weight: 600;
	}
	p {
		font-size: 0.85em;
	}
	.border-left {
		border-left: 1px solid $silver;
	}
	ul {
		padding: 0;
	
		li {
			list-style: none;
			a {
				color: $light-gray;
				transition: 0.5s;
				font-size: 0.85em;
				&:hover {
					text-decoration: none;
					color: $dark-red;
				}
			}
		}
	}
}