.banner {
	background-color: $silver-light;
	padding: 1% 0 0.4%;
	border-bottom: 1px solid $silver;
	.box-banner {
		.banner-top {
			img {
				width: 101%;
			}
		}
		.list-header {
			padding: 1.2% 0 0;
			.box-nav {
				a {
					color: $gray;
    				text-decoration: none;
    				font-size: 0.8em;
    				margin-right: 1em;
    				font-weight: 600;
    				&:hover {
    					color: $black;
    					text-decoration: none;
    				}
				}
			}
			.suscribete {
				background: $dark-red;
    			padding: 1% 3%;
    			border-radius: 5px;
    			border:1px solid $dark-red;
    			font-size: 0.8em;
    			color: white;
    			text-decoration: none;
    			margin-left: 9px;
    			transition: 0.5s;
    			&:hover {
    				border: 1px solid $dark-red;
    				color: $dark-red;
    				background-color: transparent;
    				margin-left: 9px;
    			}
			}
			.redes {
				border-right: 1px solid $silver;
				a {
					&:nth-child(2) {
						color: $light-blue;
					}
					&:nth-child(3) {
						color: $dark-red;
					}
					&:nth-child(4) {
						color: $yellow-orange;
					}
				}
				i {
					margin-right: 1.4em;
					&:nth-child(5) {
						margin:0;
						color: orange;
					}
				}
			}
			.search {
				text-align: center;
				border-right: 1px solid $silver;
				a {
					font-size: 0.9em;
    				font-weight: 600;
    				text-decoration: none;
    				&:hover {
    					text-decoration: none;
    					color: $black;
    				}
				}
			}
		}
	}
}
.header {
	padding: 2% 0;
	.republica {
		margin: 5% 2%;
	}
	.a-domingo {
		a{
			color: $black;
			&:hover {
				text-decoration: none;
			}
			.box-domingo {
				border: 1px solid;
    			padding: 2%;
    			text-align: center;
    			border-bottom: 3px solid $dark-red;
    			.text-domingo {
    				font-size: 0.8em;
    				font-weight: 600;
    				background: $dark-red;
    				width: 80px;
    				padding: 5px;
    				position: absolute;
    				top: -20%;
    				left: 35%;
    				color: white;
    				font-family: 'Open Sans';
    				
    			}
    			.autor {
    				font-size: 0.9em;
    				font-weight: 600;
    				margin-top: 6%;
    			}
		}
	}
}
.editorial {
	.box-editorial {
		border: 1px solid $silver;
    	background: #2C3238;
    	.img-editorial {
    		float: left;
    		margin: 1%;
    	}
    		.box-corrupcion {
    			border: 1px solid $silver;
    			border-radius: 5px;
    			margin-left: 20px;
    			background: white;
    			text-align: center;
    			p {
    				font-weight: 600;
    				margin-bottom: 0;
    				margin-top: 4px;
    				&:nth-child(2) {
    					font-style: italic;
    					font-weight: normal;
    					margin: 0 0 10px;
                        font-size: 0.9em;
					}
    			}
    			.img-autor {
    				float: right;
    				margin-top: -25%;
    				margin-right: -7%;

    			}
    		}
		}
    }
}