doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		section#blog
			.row
				.col-md-2
					img(src="assets/image/banner-aside-home.jpg")
				.col-md-12
					img(src="assets/image/banner-header.jpg")
					+titulo('Blogs', 'LO ULTIMO EN BLOGS')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
					.contenedor-blogers.clearfix
						+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
						+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.col-md-2
					img(src="assets/image/banner-aside-home.jpg")
		include ../layout/footer.jade
	script(type="text/javascript", src="js/bootstrap.min.js")