doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		section.blog
			.container
				.row
					+titulo('Blogs', 'LO ULTIMO EN BLOGS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
				.row
					+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'uno', 'BLOG', 'LIBROS')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'dos', 'BLOG', 'Ya lo pasado, PASADO')
					+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'tres', 'BLOG', 'Décimas Cosas')
		include ../layout/footer.jade
	script(type="text/javascript", src="js/bootstrap.min.js")