doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		.columnistas-body
			.row
				.col-md-2
					img.img-aside(src="assets/image/banner-aside-home.jpg")
				.col-md-12
					img(src="assets/image/banner-header.jpg")
					.columnista
						+titulo('Columnistas', 'LO ÚLTIMO EN COLUMNISTAS')
						.contenedor-columnista.clearfix
							+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'cuatro', 'Augusto Ávarez Rodrich', 'Claro y directo')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'cinco', 'Mirko Laver', 'Observador')
							+cdrprincipal('Lunes,14 de julio de 2015','¿Cuál es tu queso favorito?', 'cuatro', 'BLOG', 'Chino de mi barrio')
						.contenedor-columnista.clearfix
							+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'cuatro', 'Augusto Ávarez Rodrich', 'Claro y directo')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'cinco', 'Mirko Laver', 'Observador')
							+cdrprincipal('Lunes,14 de julio de 2015', '¿ Cuál es tu queso favorito?', 'cuatro', 'BLOG', 'Décimas Cosas')
						.contenedor-columnista.clearfix
							+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'cuatro', 'Augusto Ávarez Rodrich', 'Claro y directo')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'cinco', 'Mirko Laver', 'Observador')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'cuatro', 'BLOG', 'Décimas Cosas')
						.contenedor-columnista.clearfix
							+cdrprincipal('Lunes,14 de julio de 2015', 'El gol de la muerte', 'cuatro', 'Augusto Ávarez Rodrich', 'Claro y directo')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Dios ha muerto... tengo las manos cubiertas de sangre', 'cinco', 'Mirko Laver', 'Observador')
							+cdrprincipal('Lunes,14 de julio de 2015', 'Cuál es tu queso favorito?', 'cuatro', 'BLOG', 'Décimas Cosas')
						a.btn-red.text-center(href="#") TODAS LAS COLUMNAS
					.columnistas-complet
						+titulo(tittle,'LO ULTIMO EN COLUMNISTAS')
						nav
							ul.pagination
								li.page-item
									a.page-link TODOS 
								li.page-item.active
									a.page-link A B C
								li.page-item
									a.page-link D E F
								li.page-item
									a.page-link G H I
								li.page-item
									a.page-link J K L
								li.page-item
									a.page-link M N O
								li.page-item
									a.page-link P Q R S
								li.page-item
									a.page-link T U V
								li.page-item
									a.page-link W X Y Z
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('uno', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('dos', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('cuatro', 'Javier Ágreda', 'Jaque Perpetuo')
						.row
							.cuadros-columnistas
								.col-md-4
									+cdrgrey('cinco', 'Francisco Duran', 'Tiro al blanco')
								.col-md-4
									+cdrgrey('cuatro', 'humberto Campodónico', 'Cristal de mira')
								.col-md-4
									+cdrgrey('dos', 'Javier Ágreda', 'Jaque Perpetuo')
								.col-md-4
									+cdrgrey('tres', 'Javier Ágreda', 'Jaque Perpetuo')
				.col-md-2
					img.img-aside(src="assets/image/banner-aside-home.jpg")
		include ../layout/footer.jade