doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		//HOME//
		section#home
			.row
				.col-md-2
				.col-md-12
					.row
						.col-md-16.tittle
							h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
					.row
						.col-md-8
							img(src="assets/image/img_grid_principal.jpg", alt="titulares")
						.col-md-8
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
					//COLUMNISTAS//
					.row#columnistas
						.col-md-16.text-center.clearfix
							.columnistas
								img(src="assets/image/nota_galeria_border.png", alt="border")
								.tittle
									h3 COLUMNISTAS
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
					//NOTICIAS//
					.row#noticias
						.col-md-10
							.row.noticias
								.col-md-8
									+noticia("TITULO DE NOTICIA", "img-not-1", "lorem ipsum dolor")
									+noticia("TITULO DE NOTICIA", "img-not-1", "lorem ipsum dolor")
								.col-md-8
									+noticia("TITULO DE NOTICIA", "img-not-2", "lorem ipsum dolor")
									+noticia("TITULO DE NOTICIA", "img-not-2", "lorem ipsum dolor")
							//ULTIMAS//
							.row.ultimas-noticias.col-md-16
								+titulo(tittle, 'Ultimas noticias ')
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
								hr
								+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
						//ASIDE: PUBLICIDAD Y OTROS ENLACES//
						aside.col-md-6
							.publicidad
								img.w-100(src="assets/image/banner-aside-home.jpg")
							.suscribirse.bckg-dots
								.bckg-white
									img(src="assets/image/img_sucribe.png", alt="")
									span Suscribete
									p a nuestro boletin
									input
									button.btn Suscribirse
							.aweita.border-silver.text-center
								.logo
									img(src="assets/image/logo_aweita.jpg", alt="")
								+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								.button Más en 
									a(href="https://www.aweita.pe") Aweita.pe
							.foto-destacada
								+aside-section("FOTOS DESTACADAS")
								.destacada
									img.w-100(src="assets/image/img_fotodes_prominent.jpg", alt="")
									h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis cumque possimus voluptatem.
								.foto-dest

				.col-md-2