doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		section#home
			.row
				.col-md-2
				.col-md-12
					.row
						h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
					.row
						.col-md-8
						.col-md-8
				.col-md-2