doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade

		.container
			.row
				.col-md-12
					h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
			.row
				.col-md-6
				.col-md-6