doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		//HOME//
		section#home
			.row
				.container-fluid
					.col-md-2
					.col-md-12
						.row
							.col-md-16.tittle
								h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
						.row
							.col-md-8
								img(src="assets/image/img_grid_principal.jpg", alt="titulares")
								.titulo-imagen
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae amet enim.
							.col-md-8
								img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
								.titulo-imagen
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae amet enim.
								img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
								.titulo-imagen
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae amet enim.
						//COLUMNISTAS//
						.row#columnistas.text-center
							.col-md-16.clearfix
								.columnistas
									hr.custom
									.tittle
										h3 COLUMNISTAS
									+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
									+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
									+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
									+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
									+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
									+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
						//NOTICIAS//
						.row#noticias
							.col-md-10
								.row.noticias
									.col-md-8
										+noticia("TITULO DE NOTICIA", "img-not-1", "lorem ipsum dolor")
										+noticia("TITULO DE NOTICIA", "img-not-1", "lorem ipsum dolor")
									.col-md-8
										+noticia("TITULO DE NOTICIA", "img-not-2", "lorem ipsum dolor")
										+noticia("TITULO DE NOTICIA", "img-not-2", "lorem ipsum dolor")
								//ULTIMAS//
								.row.ultimas-noticias.col-md-16
									+titulo(tittle, 'Ultimas noticias ')
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
									hr
									+ultimas("Hace 1hr 12minutos", "Emma Watson protagoniza la bella y la bestia", "ul-noti-1", "La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la version de carne y hueso.")
							//ASIDE: PUBLICIDAD Y OTROS ENLACES//
							aside.col-md-6.text-center
								.publicidad
									img.w-100(src="assets/image/banner-aside-home.jpg")
								.suscribirse.bckg-dots
									.bckg-white
										img(src="assets/image/img_sucribe.png", alt="")
										.contenido
											span Suscribete
											p a nuestro boletin
											input
											button.btn Suscribirse
								#aweita.border-silver.text-center
									+logo("logo-1")
									+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("aw-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									.button Más en 
										a(href="https://www.aweita.pe") Aweita.pe
								#foto-destacada
									+aside-section("FOTOS DESTACADAS")
									.destacada
										img.w-100(src="assets/image/img_fotodes_prominent.jpg", alt="")
									.info-destacada
										h5  Lineas de Nasca: admiten prision preventiva de 6 meses para activista de Greenpeace FOTOS.
									+foto-des("aw-2", "Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie FOTOS")
									+foto-des("aw-2", "Alianza Lima vs Fenix: intimos ganaron 1-0 en Noche blanquiazul VIDEO Y FOTOS")
									+foto-des("aw-2", "Tomas Berdych derroto 3-0 a Rafael Nada y avanzzo en el Australian Open FOTOS")
								hr
								#especiales
									+aside-section("ESPECIALES")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
								hr
								#carlincatura
									+aside-section("CARLINCATURA DEL DIA")
									h6 CARLICANTURAS 30 - 01 - 2015
									img.w-100(src="assets/image/img_carlincatura_sd.jpg", alt="")
									a(href="#") Todas las carlicanturas
								hr
								#blogueros
									+aside-section("NUESTROS BLOGUEROS")
									+blogueros("Charlie Hebdo, historia que no debe repetirse")
									+blogueros("El unico Pulpin es HUmala")
									+blogueros("Dios ha muerto... tengo las manos")
									+blogueros("EL unico Pulpin es Humala")
									+blogueros("Charlie Hebdo, historia que no debe repetirse")
									+blogueros("EL unico Pulpin es Humala")
									+blogueros("Dios ha muerto... tengo las manos")
									+blogueros("Charlie Hebdo, historia que no debe repetirse")
								#impresa
									+aside-section("EDICION IMPRESA")
									img.w-100.border-silver(src="assets/image/img_impreso_sd_prominent.jpg", alt="")
									+impresa("Extorsionan a menores en colegios", "La respublica - Norte")
									+impresa("Lluvias en Arequipa inundan casas y causan caos en calles", "La respublica - Sur")
									+impresa("El ojo de oblitas", "Domingo")
								#infografias
									+aside-section("INFOGRAFIAS")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
									+especiales("esp1", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
								#pregunta
									.suscribirse.bckg-dots
										.bckg-white
											img(src="assets/image/img_pregunta.png", alt="")
											.contenido
								#libero.border-silver.text-center
									+logo("logo-2")
									+img-aweita("libero-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("libero-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("libero-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("libero-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								#popular.border-silver.text-center
									+logo("logo-3")
									+img-aweita("popular-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("popular-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("popular-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("popular-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequupopular")
								#wapa.border-silver.text-center
									+logo("logo-4")
									+img-aweita("wapa-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("wapa-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("wapa-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
									+img-aweita("wapa-1", "Lorem ipsum dolor sit amet, consectetur adipisicing elita ducimus officiis provident, placeat conue ipsum, aut nostrum odonsequuntur")
								#reporte
									.suscribirse.bckg-dots
										.bckg-white
											img(src="assets/image/img_reporteroc.png", alt="")
											.contenido
					.col-md-2