doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		section#home
			.row
				.col-md-2
				.col-md-12
					.row
						.col-md-16.tittle
							h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
					.row
						.col-md-8
							img(src="assets/image/img_grid_principal.jpg", alt="titulares")
						.col-md-8
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
					.row
						.col-md-16.text-center
							.columnistas
								img(src="assets/image/nota_galeria_border.png", alt="border")
								.tittle
									h3 COLUMNISTAS

				.col-md-2