doctype html
html(lang='es-PE')
	head
		include ../layout/head.jade
	body
		include ../variables.jade
		include ../mixin.jade
		include ../layout/header.jade
		section#home
			.row
				.col-md-2
				.col-md-12
					.row
						.col-md-16.tittle
							h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
					.row
						.col-md-8
							img(src="assets/image/img_grid_principal.jpg", alt="titulares")
						.col-md-8
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
							img(src="assets/image/img_grid_secundario.jpg", alt="titulares")
					.row#columnistas
						.col-md-16.text-center.clearfix
							.columnistas
								img(src="assets/image/nota_galeria_border.png", alt="border")
								.tittle
									h3 COLUMNISTAS
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
								+banner-columnistas("a-1", "Mario Vargas LLosa", " Lorem ipsum dolor sit")
								+banner-columnistas("a-2", "Alavrez Rodrich", " Lorem ipsum dolor sit")
					.row#noticias
						.col-md-5
							.noticia
								h3
								.img-noticia
									img(src="", alt="")
								h3
						.col-md-5
						.col-md-6
				.col-md-2