footer
	.row
		.col-md-12.col-md-offset-2
			.row
				.col-md-4
					img(src="assets/image/logo-grupo-la-republica.png")
					h4 Grupo La República Digital
					p Jr. Camaná 320 Cercado de Lima<br>Telefono: 711-600<br> (Central Telefónica)
					p Todos los derechos reservados - 2015
				.col-md-3
					ul
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder
						li: a(href="#") Roger Fereder

		