footer
	.row
		.col-md-12.col-md-offset-2
			.row
				.col-md-4.border-right
					img(src="assets/image/logo-grupo-la-republica.png").grupo-republica
					h4 Grupo La República Digital
					p Jr. Camaná 320 Cercado de Lima<br>Telefono: 711-600<br> (Central Telefónica)
					p Todos los derechos reservados - 2015
				.col-md-3.border-left
					+footer('Roger Fereder','SBS','Scarlett Johansson','Scotiabank','Selena Gómez','Spiderman','Sporting Cristal','Sunat','Telefónica del Perú','The Walking Dead','Twitter','Universidad Cesar Vallejo','Universidad San Martin','Universitario de Deporte','Xbox','YouTube','Bayern Múnich','Bayern Múnich','BBVA','Xbox','BCP')
				.col-md-3
					+footer('Al fondo hay sitio','Alejandro Toledo','Alianza Lima','Alianza Lima','Banco de la Nación','Barack Obama','Universidad Cesar','Vallejo','Universidad San Martin','Barcelona','Bayern Múnich','Bayern Múnich','BBVA','Xbox','BCP','Batman','Bayern Múnich','Bayern Múnich','BBVA','Xbox','BCP')
				.col-md-3
					+footer('One Direction','ONPE','Pablo Escobar','Paolo Guerrero','Pensión 65','','PNP','Precio del dólor','Universidad Cesar Vallejo','Universidad San Martin','Premier League','Bayern Múnich','Bayern Múnich','BBVA','Xbox','Proyecto Conga','PUCP','Real Madrid','Redes sociales','Reniec','Robert Pattinson')
				.col-md-3
					+footer('Al fondo hay sitio','Alejandro Toledo','Alianza Lima','Alianza Lima','Banco de la Nación','Barack Obama','Universidad Cesar','Vallejo','Universidad San Martin','Barcelona','Bayern Múnich','Bayern Múnich','BBVA','Xbox','BCP','Batman','Bayern Múnich','Bayern Múnich','BBVA','Xbox','BCP')

		