.banner
    .row.box-banner
        .col-md-12.col-md-offset-2
            a(href="http://www.entel.pe/").banner-top: img(src="assets/image/banner_top.jpg")
            .row.list-header
                .col-md-7.box-nav
                    .nav
                        a(href="#") LIBRO.PE
                        a(href="#") ELPOPULAR.PE
                        a(href="#") FUNDACIÓN GUSTAVO MOHME LLONA
                .col-md-3.col-md-offset-1
                    a.suscribete(href="#") SUSCRÍBETE AL BOLETÍN
                .col-md-3.redes
                    a(href="#"): i.fa.fa-facebook
                    a(href="#"): i.fa.fa-twitter
                    a(href="#"): i.fa.fa-google
                    a(href="#"): i.fa.fa-envelope
                    i.fa.fa-rss
                .col-md-2.search
                    a(href="#") BUSCAR 
                        i.fa.fa-search
.header
    .row.box-title
        .col-md-12.col-md-offset-2
            .row
                .col-md-5
                    a(href="#"): img.republica(src="assets/image/logo-la-republica.jpg")
                .col-md-5.col-md-offset-1.a-domingo
                    a(href="#")
                        .box-domingo
                            p.text-domingo DOMINGO
                            p.autor HABLA LA LIDERESA DEL NACIONALISMO
                .col-md-5
                    .box-editorial
                        img.img-editorial(src="assets/image/img_editorial_text.jpg")
                        .box-corrupcion
                            p La corrupción, los origenes
                            p por: Gustavo Mohme Llona
                            img(src="assets/image/img_author.jpg")
                .row
                    .col-md-16
                        .nav
                            a(href="#") POLÍTICA
                            a(href="#") ECONOMÍA
                            a(href="#") SOCIEDAD
                            a(href="#") ELECC. REGIONALES
                            a(href="#") DEPORTES
                            a(href="#") CHAMPIOS L.
                            a(href="#") ESPECTÁCULOS
                            a(href="#") ED. IMPRESA
                            a(href="#") REGIONALES
                            a(href="#") MÁS SECCIONES
                                span.fa.fa-angle-down
                                