.banner
    .row
        .col-md-12.col-md-offset-2
            a(href="http://www.entel.pe/"): img(src="assets/image/banner_top.jpg")
            .row
                .col-md-5
                    .nav
                        a(href="#") LIBRO.PE
                        a(href="#") ELPOPULAR.PE
                        a(href="#") FUNDACIÓN GUSTAVO MOHME LLONA
                .col-md-3.col-md-offset-3
                    
