@mixin redes {
    a {
        &:nth-child(2) {
            color: $light-blue;
        }

        &:nth-child(3) {
            color: $dark-red;
        }

        &:nth-child(4) {
            color: $yellow-orange;
        }
    }

    i {
        margin-right: 1.4em;

        &:nth-child(5) {
            margin: 0;
            color: orange;
        }
    }
}