/*UTILCLASS*/
.w-100 {
	width:100%;
}
.border-silver{
	border: silver 1px solid;
}
.bckg-white{
	background-color:white;
}
.bckg-dots{
	background:url(../../assets/image/archive-sidebar-bg.jpg) repeat;
	padding:5% 3%;
}