/*UTILCLASS*/
.w-100 {
	width:100%;
}
.border-silver{
	border: silver 1px solid;
}
.bckg-white{
	background-color:white;
}
.bckg-dots{
	background-image:url(../assets/image/archive-sidebar-bg.jpg) repeat-x;
}