.columnistas-body {
	.btn-red {
		color: white;
	    background: #9A1414;
	    margin-left: 37%;
	    margin-top: 2%;
	    padding: 0.3% 3%;
	    border-radius: 5px;
	    display: block;
	    width: 23%;
	    &:hover {
	    	text-decoration: none;
	    }
	}
}

.pagination {
	background:$dark-red;
	padding: 1% 5% 0.5% 5%
}

.pagination>li {
	display: inline-block;
	padding: 0 18px;
}

.pagination>li>a {
	background: $dark-red;
	color: white;
	border-radius: 15px;
	border-color: $dark-red;
	padding: 4px 12px;
	&:hover {
		background: $dark-red;
		color: white;
		text-decoration: none;
		border-color: $dark-red;
	}
}

.pagination>.active>a {
	background: $dark-red-botones;
	border-color: $dark-red-botones;
	&:hover {
		background: $dark-red-botones;
		border-color: $dark-red-botones;
	}
}

.columnistas-complet {
	padding: 2% 0%;
	.row {
		margin-bottom: 1%;
	}
}

.cuadros-columnistas {
	.singlegrey {
		&:hover {
			background: white;
			border: 1px solid $light-silver-blue;
		}
	}
}