/*GLOBAL TITTLES*/
#columnistas, #carlincatura, #impresa {
    hr{
        border: $red 3.5px solid;
    }
    .tittle{
    	background-color:$red;
    	color:$white;
    }
}
#columnistas{
	.tittle{
		@include custom(25%, 36%, -3%);
	}
}
#carlincatura{
	.tittle{
		@include custom(40%, 30%, -9%);
		padding: 0.5%;
	}
}
#impresa{
	.tittle{
		@include custom(30%, 34%, -9%);
		padding:0.5%;
	}
}

#foto-destacada, #especiales, #blogueros, #infografias{
	hr{
        border: $silver 3.5px solid;
    }
    .tittle{
    	background-color:$silver;
    	color:$white;
    	padding:0.5%;
    }
}
#foto-destacada, #blogueros{
	.tittle{
		@include custom(40%, 30%, -9%);
	}
}
#especiales, #infografias{
	.tittle{
		@include custom(28%, 35%, -9%)
	}
}

/*COLUMNISTAS*/
#columnistas
.resize {
    width: 3.55em;
}

.redes {
    @include redes;
}
